body{
font-family:Arial;
background:#222;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.player{
background:#333;
padding:25px;
border-radius:10px;
width:300px;
text-align:center;
}

.controls button{
font-size:20px;
margin:10px;
padding:10px;
cursor:pointer;
}

#progress{
width:100%;
margin:15px 0;
}

.volume{
margin-top:10px;
}

#playlist{
list-style:none;
padding:0;
margin-top:15px;
}

#playlist li{
padding:5px;
cursor:pointer;
}

#playlist li:hover{
background:#555;
}